body {
  background: radial-gradient(circle,  #FFA500, #AA6000);
  color: black;
}

.library {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  color: white;
}

td {
  padding: .5rem;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h4 {
  padding: 1.2rem;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

form {
  padding: 1.5rem;
  -moz-box-shadow: 5px 5px 10px black;
  -webkit-box-shadow: 5px 5px 10px black;
  box-shadow: 5px 5px 10px black;
}

button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

input {
  width: 20%;
  border-radius: .3rem;
  background-color: black;
  color: white;
}